@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
<body>
    <input id="wordKey" type="text" name="wordKey" required placeholder="CURP only (18 chars)">
    <input type="submit" value="Search" class="btn btn-primary">
    <h2>Resultados</h2>
    @Html.ActionLink("Resultados", "SearchResults")
    
</body>
    

}