@model NwlEmployeeConsole.Models.SearchModel
@{
    ViewData["Title"] = "Home Page";
    var x = Model.WordKey;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Search Keyword:</th>
            </tr>
            <tr>

                <td>
                    @Model.WordKey
                </td>

            </tr>

        </table>

        <table id="datatable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Curp</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Curp</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                </tr>
            </tfoot>
        </table>


    </div>
</body>
</html>


@section scripts {
 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                ajax:
                {
                    url: "RenapoData?wordKey=@x",
                    type: "GET",   // you can probably remove this
                    dataSrc : "DataJson",
                    datatype: "json",   // you can probably remove this
                },
                columns: [
                    { data: "Curp" },
                    { data: "Apellido1" },
                    { data: "Apellido2" },
                    { data: "Nombres" },

                ]
            });
        });
    </script>




}